.main-container{
  color: white;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  /* width: 100%; */
  background-color: black;
}

.country{
  font-size: 40px;
  margin-left: 10px;
  color: white;
}



.ive-cont{
  margin-top: -330px;
}
.live-cont{
  margin-left: 150px;
  margin-top: -140px;
  font-size: 22px;
  
  animation-duration: 3s;
  animation-name: slidein;
  animation-iteration-count: infinite;
  /* animation-direction: alternate; */
  
}
@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}


.main{
  width: 90%;
  /* padding-top: 40px; */
  margin: 50px auto;
  height: 400px;
  color: black;
  background-color: black;
  display: grid;
  grid-template-rows: 290px 290px;
  grid-template-columns: 1fr 1fr 1fr  ;
  row-gap: 30px;
  column-gap: 30px;
  margin-bottom: -260px;

}

.div1{
  background-color: rgba(154, 154, 23,0.7);
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: black;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  /* border-radius: 30px; */
  box-shadow: 2px 3px 2px  rgb(190, 190, 173);
  /* -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1); */



}

.div1:hover{
  background-color: aliceblue;
  -webkit-transform: scale(1.05);
        -ms-transform: scale(1.05);
        transform: scale(1.05);

}


.my-ind{
  font-size: 50px;
  text-shadow: black;
}

.tag2{
  background-color: rgba(154, 154, 236, 0.8);
}
.tag3{
  background-color:rgba(233, 102, 102, 0.8)
}
.tag4{
  background-color:rgba(214, 228, 214, 0.8);
}
.tag5{
  background-color:rgba(226, 208, 158, 0.9);
  
}

.tag6{
  background-color:rgba(239, 243, 12, 0.9);
}

.my-ind{
  /* color:white;
   */
   color: black;
   text-shadow: blanchedalmond 3.4px 4px 3px;
   font-size: 60px;
   /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
   font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

   /* font-family: 'Times New Roman', Times, serif; */
}


